@charset "utf-8";
/* CSS Document */


#container1{height:auto; width: 1500px ; border: 0 ; margin:5px 0 ;background:black;}
#sosyalmedya{height:30px; width:1470px; background-color:#222222; padding-right:30px}
#smsquare{height: 30px; width:30px; float:right}
header{width:500px ; height:100px ; padding:5px 10px ;border: 0; background-color:black;float: left;}
header figure{height: 100px ; width: 100px ; border:0 ; float:left ; margin:0 ; padding:0  }
header aside{height: 100px ; width: 400px ; border: 0 ; float:left ; margin:0 ; padding:0;  background-color: black}


main{height: 600px ; width: 1500px ; border:0 ; float:left ; padding-top: 10px; background-color: black;}


#menu{height: 40px ; width:900px ; border:0 ;background-color: #000000; float: left;padding-top: 60px; padding-left: 80px; padding-bottom: 10px;}
#menu ul{list-style:none; margin:0; padding: 0 }
#menu ul li{float: left }
#menu ul li a{display: block; width: 120px ; height: 40px; border-radius: 10px;text-decoration: none; text-align: center;font-size: 12px ;line-height: 40px; color:aliceblue ;background-color: #000000}
#menu ul li a:hover{color: mediumblue;}

#albumpaper{height:530px; width:940px ; border: 10px; padding-left: 50px; background-repeat: no-repeat; ; background-color:black; float: left; box-shadow: 10px 10px 5px white;}

#mp3{width: 800px; height:100px; float: left; margin-left: 150px;}





#playlist{width:300px;height:350px; background-color: darkgray;float: left; margin-left:70px; margin-top: 5px;box-shadow: 10px 10px 5px white;}
#playlist ul{list-style:none }
#playlist ul li a{display: block; height:40px;text-decoration: none; text-align:left; font-size: 16px;line-height:30px; color:#000000; }
#playlist ul li a:hover{font-size:20px;font-weight: bold; color: aliceblue;}
span{font-size:20px;font-weight: bold;}




  

